
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-food:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-vcard:before { content: '\e805'; } /* '' */
.icon-location-outline:before { content: '\e806'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */